@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300,400;500;600;700;800&display=swap");

html {
  font-size: 16px;
}
body {
  background: #000;
  text-align: center;
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.4;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-0 {
  margin-top: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
h1.hero {
  margin: 2rem 0 0 0;
  font-weight: 500;
}
h1,
h2 {
  color: #fff;
  line-height: 1.2;
}
h1 {
  font-size: 2rem;
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  letter-spacing: -0.01em;
}
h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1em 0 1rem 0;
  letter-spacing: -0.01em;
}
img.screens {
  width: 100%;
}
p.lead {
  font-size: 1.25rem;
  margin: 0 0 1.25rem 0;
  line-height: 1.3;

  margin: 0 0 1.25rem 0;
}
section {
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin: 1rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
span.tag {
  padding: 0.4rem 0.75rem;
  /* background: #fff; */
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.container.positively {
  /* background: linear-gradient(0deg, #593cbe 0%, #0c1340 100%); */
  background: linear-gradient(180deg, #302e38 0%, #151518 100%);
  /* margin: 32px; */
  border-radius: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.container.content {
  background: linear-gradient(180deg, #302e38 0%, #151518 600px);
  border-radius: 2rem;
  text-align: left;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  padding: 2rem;
}

.container.screens {
  padding: 0;
}
img.icon {
  width: 200px;
  transition: 0.3s ease;
}
img.icon:hover {
  transform: scale(0.98) translateY(2px);
}
img.icon.small {
  width: 80px;
  margin: 0 0 10px -10px;
}

footer {
  margin-top: auto;
  padding: 1rem;
}
footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
footer li {
  display: inline-block;
  margin: 0.25rem;
}
footer p {
  margin-top: 0.5rem;
}
@media (max-width: 440px) {
  html {
    font-size: 14px;
  }
}
